body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
}

label[for="male"],
label[for="female"],
label[for="other"],
label[for="skill1"],
label[for="skill2"],
label[for="skill3"],
label[for="skill4"],
label[for="skill5"]{
    display: inline-block;
    margin-bottom: 8px;
    font-weight: lighter;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    font-style: italic;
    margin-bottom: 15px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
