@import controllers.routes

<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/stylesheets/style.css")">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="@routes.HomeController.index()">Home</a></li>
                <li><a href="@routes.LoginController.login()">User</a></li>
                <li><a href="@routes.AdminController.adminPage()">Admin</a></li>
            </ul>
        </div>
        <h1>Registration Form</h1>
        <form action="@routes.RegistrationController.submitForm()" method="post">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <label>Gender:</label>
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female" required>
            <label for="female">Female</label><br>

            <label>Skills:</label>
            <input type="checkbox" id="skill1" name="skills" value="HTML">
            <label for="skill1">HTML</label>
            <input type="checkbox" id="skill2" name="skills" value="JAVA">
            <label for="skill2">JAVA</label>
            <input type="checkbox" id="skill3" name="skills" value="PYTHON">
            <label for="skill2">PYTHON</label>
            <input type="checkbox" id="skill4" name="skills" value="CSS">
            <label for="skill2">CSS</label>
            <input type="checkbox" id="skill5" name="skills" value="JavaScript">
            <label for="skill3">JavaScript</label><br>

            <label for="country">Country:</label>
            <select id="country" name="country" required>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="Canada">Canada</option>
                <option value="India">India</option>
            </select><br>

            <label>Interests:</label>
            <select id="interests" name="interests" multiple>
                <option value="Sports">Sports</option>
                <option value="Music">Music</option>
                <option value="Reading">Reading</option>
                <option value="Travel">Travelling</option>
                <option value="Dance">Dancing</option>
            </select><br>

            <input type="submit" value="Submit">
        </form>

    </body>
</html>
